body {
    padding: 0;
    margin: 0;
    min-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-image: url("body.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 37.625rem;
    filter: blur(0px);
    background-position: center;



}

.matchContainer {
    width: 70%;
    height: 95%;
    background-image: url("championsleaguecourt2.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 0px;

    .attack{
        width: 100%;
        height: 18%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .middle{
        width: 100%;
        height: 18%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        
    }

    .defence{
        width: 100%;
        height: 18%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    
    }

    .goalkeeper{
        width: 100%;
        height: 18%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        
    }


}

.changeplayerContainer {
    width: 30%;
    max-width: 95%;
    opacity: 0.9;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

    .cardChangePlayer {
        height: 5rem;
        width: 90%;
        background-color: blue;
        border-radius: 30px;
    }
}


main {
    display: flex;
    flex-direction: row;
    height: 600px;
    width: 90%;
    min-height: 31.813rem;
    align-content: center;
    justify-content: space-between;
}